<div id="page">
  <div class="wrapper">
    <div class="container">
<div id="content-zone" class="prepend-6 span-12 append-6 last">
<h2>Log In</h2>
<div class="outer"><div class="inner"><div class="sub">

<!--
<fieldset>
<legend>Please log in below</legend>
-->

<%= form_for(:session, :url => sessions_path) do |f| %>
<div class="field">
<%= f.label :email, "Email" %>
<%= f.text_field :email %>
</div>

<div class="field">
<%= f.label :password %>
<%= f.password_field :password %>
</div>


<!--
</fieldset>
-->

<div class="actions">
	<%= f.submit "Sign in" %>
</div>
<% end %>
</div>
</form>
<hr/>
<p>New user? <%= link_to "Sign up now", signup_path %></p>
</div></div></div>
</div>
      
    </div>
  </div>
</div>
