<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @reward.title %>
</p>

<p>
  <b>Description:</b>
  <%= @reward.description %>
</p>

<p>
  <b>Image url:</b>
  <%= @reward.image_url %>
</p>

<p>
  <b>Points:</b>
  <%= @reward.points %>
</p>


<%= link_to 'Edit', edit_reward_path(@reward) %> |
<%= link_to 'Back', rewards_path %>
