<div class="contentcontainer">
   <div class="headings altheading">
       <h2>Welcome, to the Cisco Treasure Hunt.</h2>
   </div>
   <div class="contentbox">

	<p>For the next eight weeks we are giving you the chance to win an amazing holiday for two around the Mediterranean. We have dropped a number of treasure chests at our reseller locations around Europe and for every 100 points you collect you will receive a clue which will lead you to a resellers location and its treasure chest. Inside each chest is the clue to the next reseller location. Solve the clue, collect your next 100 hundred points and move one step closer to the finish.
	</p>
	<p>We will also be giving you the chance to collect extra points over the next eight weeks to help you reach the next treasure chest a little faster. Keep an eye out for selected products which carry bonus points. Also a lucky few treasure chests contain spot prizes so get collecting and start hunting!</p>
	<p>Best of luck</p>
	<br />
	<br />
	<h3>How it works:</h3>
	<table width="50%">
		
		<tbody>
			<tr>
				<td>
					<%= image_tag("cp/webex.gif") %>
				</td>
				<td>
					Every Cisco product has a point value, collect 100 points to receive your first clue. Throughout the competition you will also have the chance to pick up bonus points which will be available on selected Cisco products so be sure to check in regularly for updates. 
				</td>
			</tr>
			<tr>
				<td>
					<%= image_tag("cp/google_map_xsmall1.jpg") %>
				</td>
				<td>
					With every 100 points collected you will receive a clue which, when solved, leads to the location of one of our resellers. If you think you have solved your clue head to that location on our Google map to see if you are correct. If you're at the right location you will see another clue which along with your next 100 points will lead you further along the map towards the final treasure chest.
				</td>
			</tr>
			<tr>
				<td>
					<%= image_tag("cp/treasure_chest.jpg") %>
				</td>
				<td>
					At random reseller locations on the map certain treasure chests will contain spot prizes and bonus points. To help you along your journey we will also be offering bonus clues located within our reseller portal so be sure to log in regularly to stay up to date.
				</td>
			</tr>
			<tr>
				<td>
					<%= image_tag("cp/treasure_progress_ma.jpg") %>
				</td>
				<td>
					Wondering how close you are to the treasure? We will soon be launching a chart which will track every resellers journey along the map. Falling behind? Get selling! Sign up to our email bulletins which will keep you updated with everything thats happening in the treasure hunt during the previous week. And don't forget to log in regularly for the latest news and clues!
					</td> 
				</tr>
				<tr>
					<td>
						<%= image_tag("cp/open_treasure_chest.jpg") %>
					</td>
					<td>At the end of this epic journey one reseller will emerge triumphant winning an amazing Mediterranean cruise and the title of Top Reseller 2011! We will also have a number of runner up and spot prizes so there is really no reason not to enter.!
						</td> 
			</tr>
				
		</tbody>
		</table>
		