
<h2>Welcome</h2>
<hr>
<br />
<%= link_to image_tag("cp/treasure_map_text.jpg"), 'http://sample_app_sp_reseller.portal-001.showoff.io/treasurehunt' %>
<br />
<br />
<br />
<%= image_tag("cp/banner(1).jpg") %>
<br />
<br />
<br />
<%= image_tag("cp/banner_2(1).gif") %>


<!-- 

<% unless @user.microposts.empty? %>

<div class="status info">
   	<p class="closestatus"><a href="" title="Close">x</a></p>
   	<p><%= image_tag("cp/icons/icon_info.png") %><span>Information:</span> You have currently posted <%= pluralize(@user.microposts.count, "micropost") %>.</p>
   </div>
<% end %>

<div class="contentcontainer med left">
      	<div class="headings altheading">
          <h2>Send a message to your Resellers</h2>
      	</div>
      <div class="contentbox">
		<%= render 'shared/micropost_form' %>
	  </div>
</div>

<div class="contentcontainer med left">
      	<div class="headings altheading">
          <h2>Latest Messages</h2>
      	</div>.
      <div class="contentbox">
		<%= render 'shared/feed' %>
	  </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
-->






<!-- <%= render 'follow_form' if signed_in? %>
 <table class="profile" summary="Profile information">
<tr>
	<td class="main">
		
		<%= render 'follow_form' if signed_in? %>
	
	
	<% unless @user.microposts.empty? %>
	<table class="microposts" summary="User microposts">
		<%= render @microposts %>
	</table>
	<%= will_paginate @microposts %>
	<% end %>
	</td>
	
</tr>
</table> -->
