<% if signed_in? %>
<table class="front" summary="for signed in users">
	<tr>
		<td class="main">
			<h1 class="micropost">New message?</h1>
			<%= render 'shared/micropost_form' %>
			<%= render 'shared/feed' %>
			<%= render 'shared/user_info' %>
			<%= render 'shared/stats' %>
		</td>
		
		<td class="sidebar round">
			<%= render 'shared/user_info' %>
		</td>
	</tr>
</table>

<% else %>
<!-- ******************************* START OF CONTENT ************************** -->
<div id="page">
	<div class="wrapper">
		<div class="container">
			<div class="span-12 col1">
				<div id="tagline">
					<h2>Reseller Management.</h2>
					<p>Track, monitor &amp; interact with your resellers.</p>
				</div>
				
				<!-- ******************************* START OF TAB HEADERS ************************** -->
				<div id="tabs">
					<ul>
						<li><a href="#tabs-1"><span>Clients</span></a></li>
						<li><a href="#tabs-2"><span>Resellers</span></a></li>
						<!-- <li><a href="#tabs-3"><span>Partners</span></a></li> -->
						<li class="green-tab"><a href="#tabs-4"><span>Free Trial<span></a></li>
					</ul>
					
				<!-- ******************************* END OF TAB HEADERS ************************** -->
					
					<!-- ******************************* START OF TAB 1 ************************** -->
					
					<div id="tabs-1" class="features-block content">
						<ul class="feature-list">
							<li><%= image_tag("57_48x48.png") %>
								<h4>Scalable Architecture</h4>
								<p>It's your platform so it grows with you, no more no less than you need.</p>
							</li>
							
							<li class="last"><%= image_tag("02_48x48.png") %>
								<h4>Sales Tracking</h4>
								<p>Your resellers can upload (or import) sales figures for greater transpatency.</p>
							</li>
							
							<li><%= image_tag("25_48x48.png") %>
								<h4>Skinnable Interface</h4>
								<p>Don't like our colours? No problem, we can white label to suite your corporate identity.</p>
							</li>
							
							<li class="last"><%= image_tag("20_48x48.png") %>
								<h4>Real-Time Statistics</h4>
								<p>View sales, training, marketing statistics &amp; much more.</p>
							</li>
							
							<li><%= image_tag("53_48x48.png") %>
								<h4>Address Book</h4>
								<p>All your resellers in one place. Send mass mails, instant messages or contact individually.</p>
							</li>
							
							<li class="last"><%= image_tag("18_48x48.png") %>
								<h4>Custom Widgets</h4>
								<p>Something missing? Let us know and perhaps we can add it to our development pipline.</p>
							</li>
						</ul>
					</div>
					
					<!-- ******************************* END OF TAB 1 ************************** -->
					
					<!-- ******************************* START OF TAB 2 ************************** -->

					<div id="tabs-2" class="content">
						<ul class="feature-list clearfix">
							<li><%= image_tag("06_48x48.png") %>
								<h4>Increase Sales</h4>
								<p>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.<br />
									<%= link_to "learn more...", '#', :title => "Value Plan" %>
								</p>
							</li>
							
							<li class="last"><%= image_tag("10_48x48.png") %>
								<h4>All your marketing material behind one door.</h4>
								<p>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.<br />
									<%= link_to "learn more...", '#' %>
								</p>
							</li>
							
							<li><%= image_tag("21_48x48.png") %>
								<h4>Stay Relevant</h4>
								<p>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.<br />
									<%= link_to "learn more...", '#' %>
								</p>
							</li>
						</ul>
					</div>
					
					<!-- ******************************* END OF TAB 2 ************************** -->
					
					<!-- ******************************* START OF TAB 3 ************************** -->

					<!-- <div id="tabs-3" class="content">
						<ul class="feature-list clearfix">
							<li class="no-icon">
								<h4><%= link_to "Support Wiki", '#' %></h4>
								<p>Donec nec justo eget felis facilisis fermentum sit amet orci.</p>
							</li>
							<li class="no-icon">
								<h4><%= link_to "Community Forums", '#' %></h4>
								<p>Donec nec justo eget felis facilisis fermentum sit amet orci.</p>
							</li>
							<li class="no-icon">
								<h4><%= link_to "Customer Support", '#' %></h4>
								<p>Donec nec justo eget felis facilisis fermentum sit amet orci.</p>
								<ul>
									<li>Donec nec justo sit amet orci.</li>
									<li>Donec nec justo sit amet orci.</li>
								</ul>
								<p>Donec nec justo eget felis facilisis fermentum sit amet orci.</p>
							</li>
						</ul>
					</div> -->
					
					<!-- ******************************* END OF TAB 3 ************************** -->
					
					<!-- ******************************* START TAB 4 ************************** -->

					<div id="tabs-4" class="content">
						<h4>Download now</h4>
						<p>Donec nec justo eget felis facilisis fermentum sit amet orci.</p>
							<ul>
								<li>Donec nec justo eget felis facilisis fermentum sit amet orci.</li>
								<li>Donec nec justo eget.</li>
							</ul>
						<p>Donec nec justo eget felis facilisis fermentum sit amet orci.
						<br />
						<%= link_to "Download latest version", '#' %>
						</p>
					</div>
					
					<!-- ******************************* END OF TAB 4 ************************** -->
					
				</div>
			</div>
			
			
			<!-- ******************************* START OF SLIDER ************************** -->

			<div class="span-12 col2 last">
				<div id="slide-wrapper">
					<div class="inner">
						<div id="slide"><%= image_tag("../images/pl_screen1.jpg") %><%= image_tag("../images/pl_screen2.jpg") %><%= image_tag("../images/pl_screen3.jpg") %>
						</div>
					</div>
				</div>
			
			
			<!-- ******************************* END OF SLIDER ************************** -->
			
			<center><div id="cta" class="clearfix button-row"><span><%= link_to "Take the tour", '#' %> <%= link_to "Free trial", signup_path %></span></div></center>

			
			<!-- ******************************* START OF TESTIMONIALS ************************** -->
			
				<div id="testimonials">
					<div class="testimonial">
						<div class="inner">
							<cite>Grazie, efficaci e professionali come sempre. Ragion per cui scelgo sempre Epson</cite>
						</div>
							<h6>Epson customer</h6>
					</div>
				</div>
				
				<!-- ******************************* END OF TESTIMONIALS ************************** -->
				
				</div>
			</div>
		</div>
	</div>
</body>
<% end %>
