<p id="notice"><%= notice %></p>

<p>
  <b>Sender:</b>
  <%= @invitation.sender_id %>
</p>

<p>
  <b>Receipient email:</b>
  <%= @invitation.receipient_email %>
</p>

<p>
  <b>Property:</b>
  <%= @invitation.property %>
</p>

<p>
  <b>Token:</b>
  <%= @invitation.token %>
</p>

<p>
  <b>Sent at:</b>
  <%= @invitation.sent_at %>
</p>


<%= link_to 'Edit', edit_invitation_path(@invitation) %> |
<%= link_to 'Back', invitations_path %>
