<p id="notice"><%= notice %></p>

<p>
  <b>Product name:</b>
  <%= @product.product_name %>
</p>

<p>
  <b>Model:</b>
  <%= @product.model %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Software:</b>
  <%= @product.software %>
</p>

<p>
  <b>Product literature:</b>
  <%= @product.product_literature %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>



<%= link_to 'Back', products_path %>
