<div id="leftside">
	<div class="user">
    	
		<br />
        <p>Welcome</p>
        <p class="username"><%= @user.name %></p>
		<!-- <p>URL: <%= link_to user_path(@user), @user %></p> -->
		<br />
		<p class="userbtn"><%= link_to "Sign out", signout_path, :method => :delete %></p>
        <p class="userbtn"><%= link_to "Settings", edit_user_path(current_user) %></p>
        
		<p class="userbtn"><%= link_to "Home", current_user %></p>
    </div>

	 <div class="notifications">
        	<p class="notifycount"><a href="" title="" class="notifypop">257</a></p>
            <p><a href="" title="" class="notifypop">Points available to spend</a></p>
            <!-- <p class="smltxt">(Click to view)</p> -->
        </div>
    
    <ul id="nav">
    	<li>
				<a class="collapsed heading">Your Account</a>
				<ul class="navigation">
				<li><%= link_to 'View Rewards', rewards_path %></a></li>
                <li><a href="#" title="">About Cisco Rewards</a></li>
				<li><a href="http://sample_app_sp_reseller.portal-001.showoff.io/claimform" title="">Claim Form</a></li>
                <li><a href="#" title="">Qualifying Products &amp; Points</a></li>
				<li><a href="#" title="">My Account</a></li>
            </ul>
        </li>
		<li>
				<a class="collapsed heading">Manage Products</a>
				<ul class="navigation">
				<li><%= link_to 'All Products', products_path %></li>
                <li><%= link_to 'Add a Product', new_product_path %></li>
				<li><a href="#" title="">Bulk Add Products</a></li>
            </ul>
        </li>
        <li>
            <a class="collapsed heading">Manage Marketing</a>
             <ul class="navigation">
                <li><%= link_to 'Download Documents', '#' %></li>
                <li><%= link_to 'Download Packs', '#' %></li>
                <!-- <li><%= link_to '', '#' %></li> -->
            </ul>
        </li>
        <li><a class="expanded heading">E-Learning</a>
            <ul class="navigation">
                <li><a href="#" title="" class="likelogin">Training Videos</a></li>
                <li><a href="#" title="">Product Manuals</a></li>
                <!-- <li><a href="#" title="">Section link here</a></li> -->
            </ul>
        </li>
        <li><a class="expanded heading">Reports</a>
            <ul class="navigation">
                <li><%= link_to 'All Reports', reports_path %></li>
            </ul>
        </li>
    </ul>
</div>