<!-- ******************************* SITE HEADER ************************** -->

<body id="home">
		<div class="header">
			<div class="container">
				<h1><%= link_to "Sales-Promotions.com", root_path %></h1>
				<div id="login">
						<% if signed_in? %>
							<%= link_to "Sign out", signout_path, :method => :delete %>
						<% else %>
							<%= link_to "Sign Up", signup_path  %> | <%= link_to "Log In", signin_path %></div>
					   <% end %>
					
				
				<div id="nav">
					<ul>
						<li class="first current"><%= link_to "Home", root_path %></li>
						<li><%= link_to "Tour", tour_path %></li>
						<li><%= link_to "About us", about_path %></li>
						<li><%= link_to "Contact us", contact_path %></li>
					</ul>
				</div>
			</div>
		</div>
		
<!-- ******************************* END OF SITE HEADER ************************** -->

