<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets' %>
		<%= javascript_include_tag :all %>
		<!-- Start of Script -->
			<script type="text/javascript">
			$(document).ready(function(){
				$('HTML').addClass('JS');

				$("#tabs").tabs();

				//used to give all tabs the same height
				var maxHeight=0;
				$("#tabs div").each(function(){
					var myDiv=$(this);
					var isHidden=false;
					if(myDiv.hasClass("ui-tabs-hide")){
						isHidden=true;
						myDiv.removeClass("ui-tabs-hide");
					}
					if((myHeight=myDiv.height())>maxHeight){
						maxHeight=myHeight;	
					}else{
						myDiv.height(maxHeight);	
					}
					if(isHidden){
						myDiv.addClass("ui-tabs-hide");
					}
				});

				$("#slide").cycle({
					fx: 		'scrollDown',
					timeout: 	'4000'
				});
			});
			</script>
		<!-- End of Script -->
	</head>
	<!-- ******************************* SITE HEADER ************************** -->

	<%= render 'layouts/header' %>
	
	<!-- ******************************* END OF SITE HEADER ************************** -->
	
	<!-- ******************************* START OF CONTENT ************************** -->
	
	<%= yield %>

	<!-- ******************************* END OF CONTENT ************************** -->
	
	<!-- ******************************* START OF FOOTER ************************** -->

    <%= render 'layouts/footer' %>

	<!-- ******************************* END OF FOOTER ************************** -->
		
	<%= debug(params) if Rails.env.development? %>

</html>