<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= title %> | Control Panel</title>
<%= csrf_meta_tag %>
<%= render 'layouts/cp_stylesheet' %>
<%= stylesheet_link_tag 'cp/layout', :type => 'text/css', :media => 'all' %>
<%= stylesheet_link_tag 'cp/wysiwyg', :type => 'text/css', :media => 'all' %>

<!-- Theme Start -->
<%= stylesheet_link_tag 'cp/styles', :type => 'text/css', :media => 'all' %>
<!-- Theme End -->
</head>
<body id="homepage">
	
	<%= render 'layouts/cp_header' %>
        
    <!-- Top Breadcrumb Start -->
   	
		<%= render 'layouts/cp_breadcrumb' %>

    <!-- Top Breadcrumb End -->


	<!-- Left Dark Bar Start -->

		<%= render 'layouts/cp_leftside' %>

    <!-- Left Dark Bar End -->
     
    <!-- Right Side/Main Content Start -->
   
		<%= render 'layouts/cp_rightside' %>
		
		
		
	<!-- Right Side/Main Content End -->
    
  
    
    <!-- Notifications Box/Pop-Up Start --> 
    
	
    
    <%= javascript_include_tag :all %>
    
    <!--[if IE 6]>
    <script type='text/javascript' src='scripts/png_fix.js'></script>
    <script type='text/javascript'>
      DD_belatedPNG.fix('img, .notifycount, .selected');
    </script>
    <![endif]--> 
	
	

</body>


</html>
